
li {
    padding: 15px;
    margin: 15px;
    background: rgb(61, 75, 95);
    color: white;
  }
  p{
      color: white;
  }

  .label {
    font-weight: bold;
  }
  
  .center {
      text-align: center;
  }
  
  .right {
      align-content: right;
  }
  
  img {
      align-content: center;
  }
  
  h1, h2 {
      color:white;
      text-align: center;
      text-shadow: 1px 1px black;
  }
  
  .create-update-form {
    margin: 25px;
    background: rgb(61, 75, 95);
 
  }
  
  .form-group {
    margin-bottom: 25px;
  }
  
  html, body{
      height: 100%;
  }
  body { 
      background-image: url(../img/burger.jpeg) ;
      background-position: center center;
      background-repeat:  no-repeat;
      background-attachment: fixed;
      background-size:  cover;
  }
  
  .wrapper {
      height: 100%; 
      width: 100%; 
      }

  